// Remove inner padding and border in Firefox 3+.
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.rs-btn {
  padding: 2px 10px 1px;
  margin: 0;
  color: $grey-darker;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  text-align: center;
  vertical-align: middle;
  background-color: #c5c5c5;
  border: 1px solid $grey;
  cursor: pointer;

  @include inline-block;
  @include background-image(linear-gradient($white, #c5c5c5));
  @include border-radius(3px);
  @include text-shadow(0 1px 1px $white);

  &:hover,
  &.hover {
    text-decoration: none;
    color: $grey-darker;
    background-color: #d7d7d7;

    @include background-image(linear-gradient($white, #d7d7d7));
  }

  &:active,
  &.active {
    background: #f3f3f3;

    @include box-shadow(0 0 4px 0 rgba(0, 0, 0, 0.3) inset);
  }

  &[disabled],
  &.disabled {
    color: $grey-light;
    background: #f5f5f5;
    border-color: $grey-light;
    cursor: default;

    @include box-shadow(none);
  }
}

.rs-btn-primary {
  color: $white;
  background-color: #333;
  border: 1px solid #333;

  @include background-image(linear-gradient(#666, #333));
  @include text-shadow(0 -1px 1px rgba(0, 0, 0, 0.4));

  &:hover,
  &.hover {
    background-color: #555;
    color: $white;

    @include background-image(linear-gradient(#777, #555));
  }

  &:active,
  &.active {
    background: #666;

    @include box-shadow(0 0 4px 0 rgba(0, 0, 0, 0.6) inset);
  }

  &[disabled],
  &.disabled {
    color: #ccc;
    background: #999;
    border-color: #666;
    @include box-shadow(none);
  }
}

.rs-btn-login {
  color: $white;
  background-color: #a60004;
  border: 1px solid #a60004;

  @include background-image(linear-gradient(#d81436, #a60004));
  @include text-shadow(0 -1px 1px rgba(0, 0, 0, 0.4));

  &:hover,
  &.hover {
    background-color: #c40022;
    color: $white;

    @include background-image(linear-gradient(#d81436, #c40022));
  }

  &:active,
  &.active {
    background: #d81436;

    @include box-shadow(0 0 4px 0 rgba(0, 0, 0, 0.6) inset);
  }

  &[disabled],
  &.disabled {
    color: #df9faa;
    background: #d81436;
    border-color: #a60004;
    @include box-shadow(none);
  }
}

.rs-btn-link {
  height: 25px;
  padding-left: 0;
  padding-right: 0;
  color: $blue;
  background: transparent;
  border: none;

  &:hover,
  &.hover {
    text-decoration: underline;
    background: transparent;
    color: $blue;
  }

  &:active,
  &.active {
    background: transparent;
    @include box-shadow(none);
  }

  &[disabled],
  &.disabled {
    text-decoration: none;
    background: transparent;
    color: $grey-light;
  }
}

.rs-cog {
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  background-color: none;
  border: none;
  cursor: pointer;

  @include inline-block;
  @include icon-sprite(cog);
  @include hide-text-content();

  &:active,
  &.active,
  &:hover,
  &.hover {
    @include icon-sprite(cog-hover);
  }

  &[disabled],
  &.disabled {
    cursor: default;
    @include icon-sprite(cog-disabled);
  }
}

.rs-plus {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  background-color: none;
  border: none;
  cursor: pointer;

  @include inline-block;
  @include icon-sprite(plus-dotted-grey);
  @include hide-text-content();

  &:active,
  &.active,
  &:hover,
  &.hover {
    @include icon-sprite(plus-dotted-blue);
  }
}

.rs-delete {
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  background-color: none;
  border: none;
  cursor: pointer;

  @include inline-block;
  @include icon-sprite(minus-circle-808080);
  @include hide-text-content();
}

.rs-caret {
  width: 10px;
  height: 10px;

  @include inline-block;
  @include icon-sprite(caret);

  &[disabled],
  &.disabled {
    cursor: default;
    @include icon-sprite(caret-disabled);
  }
}

.rs-btn-action {
  > .rs-cog {
    width: 13px;
    height: 13px;
    margin-top: -2px;
    margin-right: 1px;
    @include icon-sprite(cog-small);
  }

  > .rs-caret {
    margin-top: 2px;
    margin-left: 1px;
  }

  &[disabled],
  &.disabled {
    > .rs-cog {
      cursor: default;
      @include icon-sprite(cog-small-disabled);
    }

    > .rs-caret {
      cursor: default;
      @include icon-sprite(caret-disabled);
    }
  }
}

.rs-btn-group {
  margin: 0 0 10px;
  @include micro-clearfix;

  > .rs-btn {
    display: block;
    float: left;
    margin-right: 10px;
  }

  .rs-processing-indicator {
    margin-top: 6px;
    margin-left: -1px;
  }
}

.rs-processing-indicator {
  @include icon(13px,12px);
  background-image: image-image-url('processing-indicator.gif');
}

.rs-edit {
  width: 19px;
  height: 19px;
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  box-sizing: border-box;
  cursor: pointer;

  @include icon-sprite(pencil-666);
  @include inline-block();
  @include hide-text-content();

  &:hover,
  &.hover {
    border-color: #d8d8d8;
  }

  &:active,
  &.active {
    border-color: transparent;
  }

  &[disabled],
  &.disabled {
    border-color: transparent;
    cursor: default;

    @include icon-sprite(pencil-999);
  }
}

.rs-controls .rs-edit,
.rs-controls-static .rs-edit,
.rs-detail-value .rs-edit {
  margin-top: -1px;
  margin-left: 13px;
}
