$icon-spacing: 10px;

@import "icon/*.png";

@mixin icon($width: 13px, $height: 13px) {
  display: inline-block;
  width: $width;
  height: $height;
  vertical-align: text-top;
}

.rs-icon-external,
.rs-icon-external-dark {
  @include icon;
  margin-left: 5px;
}

.rs-icon-external {
  @include icon-sprite(external-blue);
}

.rs-icon-external-dark {
  @include icon-sprite(external-dark);
}

.rs-icon-help {
  @include icon;
  @include icon-sprite(help);
  margin-left: 5px;
}

.rs-icon-error-indicator {
  @include icon;
  @include icon-sprite(exclamation-sign);
  margin-left: 5px;
}